{% extends 'base.html'%}
{% block content%}


{% for post in object_list %}
<div class="container">
<h1 class="mt-4 mb-3">
  <small></small>
</h1>

<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="{% url 'home'%}">Home</a>
  </li>
  <li class="breadcrumb-item active">{{object.title}}</li>
</ol>


<div class="card-body">
    <div class="row">
      <div class="col-lg-6">
        <a href="#">
          <img class="img-fluid rounded" src="http://placehold.it/750x300" alt="">
        </a>
      </div>
      <div class="col-lg-6">
        <h2 class="card-title">{{post.title}}</h2>
        <p class="card-text">{{post.body}}</p>
        <a href="/" class="btn btn-primary">Read More &rarr;</a>
      </div>
    </div>
  </div>
  <div class="card-footer text-muted">
    Posted on January 1, 2017 by
    <a href="/">Ali</a>
  </div>
</div>
</div>
{% endfor %}
{% endblock content %}